@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');
*{
    padding: 0;
    margin: 0;
}

/* variables  */
:root[theme-data="light"]{
    --body-bg-color:#222;
    --snake-color:#5876ba;
    --board-before:#aad154;
    --score-container-color:#4a752c;
    --board-border-color:#578a34;
    --snake-glow:"";
    --food-glow:#2222222d;
    --popup-button:#F8A300;
    --popup-button-hover:#F4C500;
    --popup-button-shadow:#5b4b315c;
    --theme-btn-glow:#fcd362c3;
    --board-bg-image:url("../img/board.svg");
}
:root[theme-data="dark"]{
    --body-bg-color:#333;
    --snake-color:#5876ba;
    --board-before:#444;
    --score-container-color:#262428;
    --board-border-color:#2c2730;
    --snake-glow:"";
    --food-glow:#f04846ed;
    --popup-button:#7077A1;
    --popup-button-hover:#424769;
    --popup-button-shadow:#5b4b315c;
    --theme-btn-glow:rgba(238, 240, 240, 0.899);
    --board-bg-image:url("../img/board-dark.svg");
}


body{
    background-color: var(--body-bg-color);
    overflow-y: hidden;
}
.game-body{

    min-height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    

}

.score-container{
    padding-block: 0.5rem;
    background-color: var(--score-container-color);
    display: flex;
    margin-inline: auto;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    width: calc(87vmin + 20px);
    box-shadow: 2px 10px 5px 2px #31313034;
}
.score,.high-score{
    display: flex;
    margin-left: 1.5rem;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;

}

.score-container img{
    width: 33px;
}

.theme-changer{
    margin-left: auto;
    margin-right: 1.4rem;
    filter: drop-shadow(0 0 0.15rem var(--theme-btn-glow));
    /* transition: all 0.4s ease-in-out; */

    
}
.theme-changer:hover{
    cursor: pointer;
    filter: drop-shadow(0 0 0.27rem var(--theme-btn-glow));

    /* animation: rotate 0.4s ease-in-out; */



}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    92%{
        opacity: 0.7;
    }
    100%{
        transform: rotate(90deg);
        opacity: 1;
    }
}

#scoreBox,
#hiscoreBox{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.205);
    color: #eaeeef;
    font-weight: bold;
    font-family: 'New Tegomin', serif;
}


#board{
   
    background-image: var(--board-bg-image);
    width: 87.2vmin;
    height: 87.2vmin;
    border: 10px solid var(--board-border-color);
    display: grid;
    transition: grid-template-columns 0.8s ease-in-out, grid-template-rows 0.8s ease-in-out,transform grid-template-rows 0.8s ease-in-out;
    grid-template-rows: repeat(18, 1fr);
    grid-template-columns: repeat(18, 1fr);
    box-shadow: 2px 10px 5px 2px #31313034;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;


    
}

#board::before{
    content: "";
    background-color: var(--board-before);
    width: 87vmin;
    height: 87vmin;
    position: absolute;
    z-index: -1;
    
    

    
}

.head{
    background-image: url("../img/snake-head.svg");
    background-repeat: no-repeat;
    background-size: 102% 102%;
    filter: drop-shadow(0 0 0.35rem var(--snake-glow));

}

.snake{

    background-color: var(--snake-color);
    /* background-color: #D21404; */
    /* background-color: #00a76b; */
    filter: drop-shadow(0 0 0.35rem var(--snake-glow));
    width: 102%;
    height: 102%;
    


}

.food{
    background-image: url("../img/food.svg");
    width: 100%;
    background-size: 100% 100%;
    filter: drop-shadow(0 3.5px 0.15rem var(--food-glow));


}
.tail{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

    
}

.right{
    border-bottom-right-radius: 12px;
}
.left{
    border-top-right-radius: 12px;
}
dialog{
    background-color: #ffffff00;
    border:none;
    margin-inline:auto;
    margin-top: auto;
    margin-bottom: auto;
    transform: translateY(-4%);
    overflow: hidden;

}
dialog::backdrop{
    background-color: #55555593;
}
.pop-up,.preview,.opt-container{
    display: flex;
    flex-direction: column;
}
.pop-up{
    gap: 1.5rem;
    border-radius: 1.6rem;
    padding-inline: 10px;
    padding-block: 10px;
    align-items: center;
    justify-content: center;
    width: 70vmin;
}
.preview{
    width: 80%;
    height: auto;
    
}
.selectBox{
    background-color: #444;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 265px;
    color: #E7F5F8;
    font-family: Arial, Helvetica, sans-serif; 
}
.selectBox .tittle{
    background-color: #333;
    padding-block: 8px;
    border-radius: 1rem;
}
.tittle p{

    margin-left: 16px;
}

.setting-container{
    width: 100%;
    display: flex;
    flex-direction: column;
 
 
}
.items-container{
    height: calc(248px - 1.2rem);
    display: grid;

    gap: 8px;
}



.heading{
    font-size: 1.1rem;
    text-shadow: 1px 1px 5px rgba(77, 77, 77, 0.453);
    

}
.heading p{
    margin-left: 2rem;
    

}
.snake-select,.speed-select{

    position: relative;
    display: grid;
    grid-template-columns: repeat(3,minmax(56px,25px));
    gap:24px;
    width: 94.5%;
    justify-content: center;
    padding: 0.7rem;
    

}
.selection-img{
    width: 100%;
    position: relative;
    z-index: 1;
    transition: all 0.9s ease;
}
.selection-img:hover{
    cursor: pointer;
}


.preview img,.selectBox{
    border-radius: 1rem;

}
.preview img:not(.selection-img){
    width: 100%;
}

.opt-container{
    gap: 1rem;
    align-items: center;
    width: 100%;

}
.opt-container button{
    width: 70%;
    font-size: 1.56rem;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    padding-block:0.56rem ;
    border-radius: 0.6rem;
    background-color: var(--popup-button);
    color: #E7F5F8;
    outline: none;
    box-shadow: 5px 7px 1px var(--popup-button-shadow);
    transition: all 0.4s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}
.opt-container button:hover{
    box-shadow: 2px 2px 1px #1e1e1e93;
    background-color: var(--popup-button-hover);
    color: #eaeeef;
    cursor: pointer;
}


.line,.line2{
    position: absolute;
	z-index: 0;
	background: #666;
	border-radius: 8px;
	transition: all 0.6s ease-in-out;

}


@media screen and (max-width: 740px) {
    .score-container{

        width: calc(90vmin + 20px);

    }
    #board{
        width: 90vmin;
        height: 90vmin;

        grid-template-rows: repeat(12, 1fr);
        grid-template-columns: repeat(12, 1fr);
    
    }
    
    #board::before{

        width: 90vmin;
        height: 90vmin;

        
        
    
        
    }


    .pop-up{
        width: 96vmin;
    }
    dialog{

        margin-left: auto;
        transform: translateX(-6%);
    
    }
}


#msg-popup{
    padding-inline: 8px;
    padding-block: 6px;
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #666;
    box-shadow: 1px 2px 7px rgba(1, 1, 1, 0.488);
    position:absolute;
    top: 0;
    /* left: 45%; */
    border-radius: 5px;
    color: aliceblue;
}

.green{
    color: #14b711;
}

